# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\andal\OneDrive\University of Saskatchewan\3rd Year Engineering\2020 Term 1 3rd Year\CMPT 370\group1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
